# Node modules (we’ll reinstall inside container)
node_modules
npm-debug.log
yarn-error.log

# Local environment files
.env
.env.local
.env.*.local

# Vite cache and build artifacts
dist
.vscode
.DS_Store

# Git repository
.git
.gitignore

# Logs
*.log

# IDE / system files
.idea
*.sublime-project
*.sublime-workspace
*.swp
